version: '3.8'

services:
  medix-api:
    # Nome da imagem final a ser criada/utilizada
    image: medix-api-oracle

    # Configuração de build
    build:
      context: .
      dockerfile: Dockerfile

    # Nome do container e reinício automático (Requisito: Background)
    container_name: medix-api-container
    restart: always

    # Mapeia a porta 8080
    ports:
      - "8080:8080"

    # Variáveis de ambiente (Credenciais do Oracle DB)
    environment:
      - ORACLE_URL=jdbc:oracle:thin:@oracle.fiap.com.br:1521:ORCL
      - ORACLE_USER=rm559728
      - ORACLE_PASS=250306

      # JWT Secrets
      - JWT_SECRET=aec3ec1f-53aa-4e82-93e7-702ab0194b80
      - JWT_EXPIRATION=86400000